# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Flutter web
build/web/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*